* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}
.App .Meta {
  flex-grow: 1;
  padding: 15px;
}
.App .Meta button {
  margin: 12px 0px !important;
}

.App .Meta input {
  font-family: inherit;
  padding: 5px;
  margin-top: 10px !important;
  width: 100%;
  box-shadow: 0 0 2px black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px !important;
}
.App #certificateWrapper {
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
}
.App #certificateWrapper certificateTamplate {
  display: block;
}

.App #certificateWrapper .QRCode {
  position: absolute;
  top: 525px;
  left: 180px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.App #certificateWrapper .name {
  font-weight: 600;
  position: absolute;
  top: 280px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 17pt;
  font-family: "Merriweather", serif;
}

.App #certificateWrapper span {
  color: black;
  font-weight: 400;
  position: absolute;
  /* background-color: white; */
  top: 405px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18pt;
  font-family: "Merriweather", serif;
}

.App #certificateWrapper .issueDate {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 190px;
  right: 215px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.App #certificateWrapper .registrationID {
  font-weight: 800;
  position: absolute;
  font-family: Orbitron sans-serif;
  display: flex;
  justify-content: center;
  top: 55px;
  left: 231px;
  font-size: 23px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.App #certificateWrapper .issueDate-day {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 321px;
  font-size: 20px;
  right: 190px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.App #certificateWrapper .issueDate-month {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 321px;
  font-size: 20px;
  left: 130px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
.App #certificateWrapper .issueDate-year {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 346px;
  font-size: 20px;
  left: 4px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.App #certificateWrapper .duration {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 441px;
  font-size: 20px;
  right: 225px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
.App #certificateWrapper .center {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 457px;
  font-size: 20px;
  left: 670px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
.App #certificateWrapper .issueDate-from {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 476px;
  font-size: 20px;
  right: -20px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
.App #certificateWrapper .issueDate-to {
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 476px;
  font-size: 20px;
  left: 220px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
