.UaLogo {
  height: 120px;
}

.MainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Header1 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.Header2 {
  display: flex;
  flex-direction: row;
}

.Header2 h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-right: 22px;
  padding-top: 40px;
}

.ButtonsSection{
  border: none;
  width: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.navigation-buttons{
  margin-left: 30px !important;
  cursor: pointer;
}

.smallScreenWidget {
  display: none;
}

.demo-left {
  color: white;
  font-size: 30px;
  text-align: start;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  text-shadow: 12px;
}
.demo-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.demo-left {
  padding-top: 40px;
  padding-left: 10px;
}
.demo-right {
  padding: 30px;
}

.formStyle {
  background-color: white;
  padding: 35px 30px 30px;
  border-radius: 12px;
}

inpMyFormItemGrouput {
  margin-bottom: 10px !important;
}
form button {
  width: 100%;
  margin-top: 10px !important;
}

.Details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.DetailsHeading {
  font-size: large;
  font-size: 40px;
  font-weight: 700;
}
.DetailsContent {
  font-size: larger;
  font-weight: 400;
  line-height: 30px;
  height: 14px;
}

.detauils {
  height: 200px;
  line-height: 20px;
  padding-top: 120px;
  padding-bottom: 120px;
  color: blue;
}
.detauils h5 {
  padding-top: 10px;
  color: black;
}
.details-icons {
  font-size: 60px;
}
.details-icons:hover {
  transform: scaleY(15px);
}
.justify-column {
  justify-content: space-evenly;
}

.slogans {
  padding: 45px 10px 10px;
  margin: 10px 0px 0px 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 70px;
  text-align: center !important;
}
.slogan-content {
  text-align: start;
  padding: 0px 40px;
  line-height: 35px;
  font-weight: 400;
}
h3 {
  text-align: start;
  padding: 45px 10px 10px 40px;
  margin: 10px 0px 0px 0px;
}
.slogan-content2 {
  text-align: start;
  padding: 0px 40px;
  line-height: 35px;
  font-weight: 500;
  color: rgb(104, 114, 123);
}
.button {
  display: block;
  /* border: 1px solid black; */
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-left: 40px !important;
  line-height: 30px;
  border-radius: 20px;
  background-color: rgb(129, 129, 228);
  color: white;
  font-weight: 500;
}
.demo-image1 {
  height: 500px;
  padding-top: 30px;
}

.course-names-images{
  justify-content: center;

}
.course:hover{
  border-bottom: 2px solid grey;
}
.course{
  margin: 20px !important;
}
.course-image{
  height: 150px;
  width: 200px;
  border: solid 1px black;
  overflow: hidden;
}
.course-name{
  font-size: large;
  font-weight: 500;
  line-height: 60px;
  color: rgb(104, 114, 123);
}

.course-image:hover{
  transform: translateY(-6px);
  cursor: pointer;
  zoom: 99.5%;

}
.details-icons:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
/* For mobile Screen */
@media screen and (max-width: 768px) {
  .UaLogo {
    height: 125px;
  }

  .MainHeader {
    display: flex;
    flex-direction: column;
  }

  .Header1 {
    flex-direction: row;
  }

  .Header2 {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .Header2 h2 {
    text-align: center;
    padding-top: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-right: 22px;
  }
  nav button {
    border: none;
    width: fit-content;
    background-color: white;
  }

  .smallScreenWidget {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 30px;
    padding: 0px 30px;
    font-weight: bolder;
    font-size: larger;
  }
  .smallScreenWidget i {
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 10px;
  }

  .ButtonsSection {
    display: none;
  }
  .demo-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .demo-left {
    color: white;
    font-size: 16px;
    text-align: start;
    font-weight: bolder;
    margin: 0px;
    text-shadow: 0px;
  }
  .demo-left p {
    padding: 30px 15px;
    line-height: 15px;
    height: 36px;
  }
  .DetailsHeading {
    font-size: large;
    font-size: 20px;
    font-weight: 800;
  }
  .DetailsContent {
    font-size: larger;
    font-weight: 400;
    line-height: 30px;
    height: 50px;
  }

  .DetailsContent {
    font-size: large;
    font-weight: 400;
    line-height: 30px;
    height: 14px;
  }

  .detauils {
    height: 200px;
    line-height: 20px;
    padding-bottom: 120px;
    color: blue;
  }
  .detauils h5 {
    padding-top: 10px;
    color: black;
    padding-bottom: 0px;
  }
  .details-icons {
    font-size: 60px;
  }
  .details-icons:hover {
    transform: scaleY(15px);
  }
  .d-flex {
    justify-content: center;
    flex-direction: column;
    margin: 0px !important;
  }

  .slogans {
    padding: 0px 10px 10px;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    text-align: center !important;
  }
  .slogan-content {
    text-align: start;
    padding: 0px 20px;
    line-height: 25px;
  }
  h3 {
    text-align: start;
    padding: 30px 10px 10px 20px;
    margin: 10px 0px 0px 0px;
  }
  .slogan-content2 {
    text-align: start;
    padding: 0px 20px;
    line-height: 35px;
  }
  .button {
    margin-left: 20px !important;
  }
  .demo-image1 {
    height: 250px;
    padding-top: 30px;
  }
  .course{
    margin: 20px !important;
  }
  .course-image{
    height: 2-0px;
    width:300px
  }
  .course-names-images{
    flex-direction: column;
  
  }
  .miniScreesn{
    padding-top: 120px !important;
  }
  .details-icons:hover{
    transform: translateY(-10px);
  }
}
