.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 30vh; */
    /* border: 1px solid black; */
}

.register-form{
    /* border: 1px solid black; */
    padding: 30px;
    width: 30%;
}

.linkinform{
    color: black;
    margin-top: 8px !important;
}

.loginBaseButtons{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .register-form{
        /* border: 1px solid black; */
        padding: 30px;
        width: 100%;
    }
}